<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>CONEST</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container button">
        <img src="../public/img/client.png" alt="clientes" title="Clientes" onclick="clientes()">
        <img src="../public/img/supplier.png" alt="fornecedores" title="Fornecedores" onclick="fornecedores()">
        <img src="../public/img/product.png" alt="produtos" title="Produtos" onclick="produtos()">
        <img src="../public/img/report.png" alt="relatórios" title="Relatórios" onclick="relatorios()">
    </div>
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="Icone do banco de dados" id="IconDB">
    </footer>
    
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
</body>

</html>