<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Conest - Produtos</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Produtos</h1>
        <form id="frmProduct" class="mt-2 row g-3">

            <!-- Buscar cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="search-product" maxlength="30" spellcheck="false" placeholder="Nome do Produto">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" id="btnRead" onclick="buscarProdutos()">Buscar</button>
            </div>

            <hr class="mt-4 border border-primary border -1">
             <!-- Buscar codigo -->
             <div class="col-md-6">
                <input type="text" class="form-control" id="search-codigo" maxlength="30" spellcheck="false" placeholder="Código de Barras">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" id="btnRead" onclick="buscarCodigo()">Buscar</button>
            </div>
            <hr class="mt-4 border border-primary border -1">

            <!-- Id do cliente (oculto) -->
            <div class="col-md-6" id="idProduct">
                <input class="form-control" type="text" id="inputProduct" placeholder="id">
            </div>

            <!-- Nome -->
            <div class="col-md-8">
                <label for="inputNameProduct" class="form-label">Produto</label>
                <input class="form-control" type="text" id="inputNameProduct" spellcheck="false" required maxlength="50">
            </div>

            <!-- Fone -->
            <div class="col-md-4">
                <label for="inputPrecoProduct" class="form-label">Preço</label>
                <input class="form-control" type="number" id="inputPrecoProduct" spellcheck="false" required maxlength="15">
            </div>

            <!-- Email -->
            <div class="col-md-8">
                <label for="inputCodigoProduct" class="form-label">Codigo de Barras</label>
                <input class="form-control" type="text" id="inputCodigoProduct" spellcheck="false" maxlength="50">
            </div>

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="submit" class="btn btn-danger" id="btnDelete">Excluir</button>
                <button type="reset" class="btn" id="btnReset"></button>
            </div>

        </form>
    </div>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="produtos.js"></script>
</body>

</html>
